# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# C++ build files
build/

# Compiled Python extensions
*.pyd
*.so

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# HuggingFace cache (optional)
.cache/

# Temporary files
*.log